.paper-container {
    max-width: 100%;
    border-radius: 2px;
    filter: drop-shadow(0 0 0.5rem #303141);
    border: 1px solid #4C6085;
    background-color: #303141;
    padding: 32px;
    z-index: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.paper-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .paper-container {
        padding: 24px;
        gap: 24px;
    }
    
    .paper-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }
}

@media (max-width: 767px) {
    .paper-container {
        padding: 16px;
        gap: 20px;
    }
    
    .paper-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }
}

@media (max-width: 480px) {
    .paper-container {
        padding: 12px;
        gap: 16px;
    }
    
    .paper-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}