.nav-bar-button {
    margin-left: 3px;
    display: flex;
    padding-inline: 30px;
    height: 64px;
    max-width: 144px;
    letter-spacing: .28px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #fcfcfc;
    font-weight: 500;
    cursor: pointer;
    box-sizing: border-box;
}

.nav-bar-button:hover {
    border-bottom: 2px solid #fcfcfc;
}

.nav-bar-button:hover>.nav-button-arrow {
    transform: rotate(180deg);
}

.nav-button-arrow {
    height: 8px;
    width: 12px;
    margin-left: 8px;
    transition: .2s ease-in all;
}

.icon-button {
    font-weight: 500;
    font-size: 14px;
    padding: 8px 14px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 3px;
    height: fit-content;
    cursor: pointer;
    border-radius: 4px;
}